/* We use border-box, so the size of an element contains the padding and border.
Sizes are in rem.  Convert pixel measure to rem by dividing by 10. */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
.box {
  height: 6rem;
  width: 6rem;
  border: solid darkviolet;
}

.socialCards {
  background-color: rgba(125, 50, 255, 0.3);
  display: flex;
  flex-flow: row wrap;
}

.socialCard {
  border: 0.1rem solid black;
  border-radius: 1rem;
  height: 9rem;
  width: 18rem;
}
