/* We use border-box, so the size of an element contains the padding and border.
Sizes are in rem.  Convert pixel measure to rem by dividing by 10. */

/* @import url(reset.css); War bisher falsch eingebunden, muss ich nochmal anschauen*/
@import url(base.css);
@import url(./components/header.css);
@import url(./components/main.css);
@import url(./components/footer.css);

/* Header */

header {
  background-color: rgba(102, 51, 153, 0.3);
  padding: 0.1rem;
  border-radius: 1.5rem;
}

h1 {
  text-align: center;
  color: rgba(102, 51, 153, 1);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

nav ul li {
  background-color: rebeccapurple;
  padding: 0.6rem;
  border-radius: 0.6rem;
}

nav a:link {
  color: white;
}
nav a:visited {
  color: yellow;
}
