.header {
  background-color: rgba(102, 51, 153, 0.3);
  padding: 0.1rem;
  border-radius: 1.5rem;
}

.header_headline {
  text-align: center;
  color: rgba(102, 51, 153, 1);
}

.header_navlist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.header_navlist_item {
  background-color: rebeccapurple;
  padding: 0.6rem;
  border-radius: 0.6rem;
}

.header_navlist_link:link {
  color: white;
}
.header_navlist_link:visited {
  color: yellow;
}
